:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishblue: hsl(216, 15%, 48%);
  --darkBlue: hsl(218, 44%, 22%);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 15px;
}
p {
  font-weight: 400;
  margin-bottom: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
.card {
  background-color: var(--white);
  padding: 15px;
  border-radius: 15px;
  width: 320px;
}
.card img {
  border-radius: 10px;
}
.card_body {
  padding: 20px 15px;
  text-align: center;
}
.card_body h4 {
  color: var(--darkBlue);
  font-size: 22px;
}
.card_body p {
  color: var(--grayishblue);
  font-size: 15px;
}
