* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageQrcode {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 280px;
  height: 420px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
}

h3 {
  font-weight: 700;
  width: 14rem;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 15px;
}

p {
  width: 14rem;
  font-size: 14px;
  color: hsl(216, 15%, 48%);
  margin-bottom: 15px;
}
